html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  justify-content: stretch;
  align-content: stretch;
  grid-template-columns: 810px 1fr;
  grid-template-rows: auto;
  grid-template-areas: "canvas dashboard";
  canvas {
    grid-area: canvas;
  }
  .dashboard {
    grid-area: dashboard;
    display: grid;
    overflow: scroll;
    grid-template-columns: 50% 50%;
    grid-template-rows: 64px auto 1fr 1fr;
    grid-template-areas: "header header" "config current" "fitness geneology" "gen-table geneology";
    .header {
      grid-area: header;
    }
    .config {
      grid-area: config;
    }
    .current {
      grid-area: current;
    }
    .fitness {
      grid-area: fitness;
    }
    .gen-table {
      grid-area: gen-table;
    }
    .geneology {
      grid-area: geneology;
    }
  }
}
