html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  justify-content: stretch;
  align-content: stretch;
  @media screen and (min-width: 1400px) {
    grid-template-columns: 810px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "canvas dashboard";
  }
  @media screen and (max-width:1400px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "canvas" "dashboard";
  }
  &>canvas {
    grid-area: canvas;
  }
  .dashboard {
    grid-area: dashboard;
    display: grid;
    @media screen and (min-width: 1400px) {
      grid-template-columns: 50% 50%;
      grid-template-rows: 64px auto auto 1fr 1fr;
      grid-template-areas: "header header" "description description" "config current" "fitness geneology" "gen-table geneology";
      overflow: scroll;
    }
    @media screen and (max-width: 1400px) {
      grid-template-columns: 100%;
      grid-template-rows: 64px auto auto auto 1fr 1fr;
      grid-template-areas: "header" "description" "config" "current" "fitness" "gen-table" "geneology";
    }

    h5 {
      padding : 0;
      margin-bottom: 0;
    }
    .header {
      grid-area: header;
    }
    .description {
      grid-area: description;
    }
    .config {
      grid-area: config;
    }
    .current {
      grid-area: current;
    }
    .fitness {
      grid-area: fitness;
    }
    .gen-table {
      grid-area: gen-table;
      table {
        border-collapse: collapse;
        width: 100%;
      }
      table, th, td {
        border: 1px solid black;
      }
    }
    .geneology {
      grid-area: geneology;
      #geneology-canvas {
        width: 100%;
        height: 100%;
      }
    }
  }
}
